.card{
    width: 200px;
    height: fit-content;
    text-align: left;
    box-shadow: -4px 13px 23px 0px rgba(36,35,35,0.42);
    -webkit-box-shadow: -4px 13px 23px 0px rgba(36,35,35,0.42);
    -moz-box-shadow: -4px 13px 23px 0px rgba(36,35,35,0.42);
    border-radius: 5px;
    padding-bottom: 10px;
    overflow: hidden;
    img{
        width: 200px;
        height: 200px;
        
    }
    .tittle{
        font-weight: bold;
        padding: 0 10px;
        margin: 5px 0;
    }
    .desc , .price{
        font-size: 12px;
        padding: 0 10px;
        margin-bottom: 5px;
    }
}