h3{
    text-align: left;
    padding: 40px 100px 0px;
  }
  .card-wrap{
    padding: 0px 100px 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    /* justify-content: center; */
  }
  .kategori-wrap{
    margin-top: 50px;
    padding: 0px 100px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 40px; */
  
    
  }